<div class="jumbotron">
  <div class="container">
    <h1>A Nice Nest</h1>
    <p>Find the perfect home to rent based on what matters to you.</p>
    <p><a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">Sign in</a></p>
  </div>
</div>
<div class="container">
  <div class="well">
    <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :other_residents, 'How many other people will be living with you?' %>
          <%= f.number_field :other_residents, in: 0..10 %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-lg btn-default' %>
        </div>
      <% end %>
    </div>
</div>
