<!DOCTYPE html>
<html>
<head>
  <title>A Nice Nest</title>
  <link href='http://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav class="navbar navbar-default">
    <%= link_to "A Nice Nest", root_path,  class: 'navbar-brand'%>
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'navbar-right' %>
  </nav>
</header>
<% if notice %>
  <p class="notice alert-info">
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-info">
    <%= alert %>
  </p>
<% end %>
<%= yield %>
<footer>
  <nav class="navbar navbar-fixed-bottom">
    <a class="navbar-link navbar-right" href="http://nabil.io">nabil.io</a>
  </nav>
</footer>
</body>
</html>


